$background-color--1: #111019;
$background-color--2: #1d1b2a;
$background-color--3: #d4bafe;

$black-color--1: #0c0d0e;

$color--1: #57ce30;

$green-color--1: #00e8b1;
$green-color--2: #56f7a5;

$red-color--1: #d62f43;

$color--2: #0c398b;

$violet-color--1: #a400ff;
$violet-color--2: #7871a3;
$violet-color--3: #726a9a;

$cyan-color--1: #abd4ff;

$yellow-color--1: #f8f2d3;

$orange-color--1: #f49900;

$blue-color--1: #5a00e6;

$border-color--1: #c1c8e3;
