#navigation {
  display: flex;
  width: 8%;
  flex-direction: column;
  align-items: center;
  background-color: $background-color--1;
  border-radius: 0.8vw;
  box-shadow: 0 0 4px $violet-color--3;
  & a {
    text-decoration: none;
  }
  .logo-container {
    display: flex;
    padding: 1.2vw 0;
    font-size: 0.5vw;
    font-weight: 400;
    background: transparent;
    border-radius: 0.5vw;
  }
  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    & a {
      display: flex;
      width: 100%;
      font-size: 0.85vw;
      background: transparent;
      padding: 1vw 0;
      & i {
        font-size: 2vw;
        background: transparent;
        color: $violet-color--3;
        text-shadow: 0 0 4vw $violet-color--3;
      }
    }
  }
  @media all and (max-width: 1025px) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1.8vw 0;
    margin-bottom: 2vw;

    .logo-container {
      padding: 1.2vw 0;
      font-size: 0.5vw;
      border-radius: 0.5vw;
    }
    .navlinks-container {
      flex-direction: row;
      align-items: center;
      & a {
        padding: 0 1.7vw;
        & i {
          font-size: 3.5vw;
        }
      }
    }
    @media all and (max-width: 576px) {
      padding: 3.5vw 1vw;
      margin-bottom: 2vw;
      .logo-container {
      }
      .navlinks-container {
        flex-direction: row;
        align-items: center;
        & a {
          padding: 0 4vw;
          & i {
            font-size: 5.5vw;
          }
        }
      }
    }
  }
}
